AUTH_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@auth-db:5432/auth_db
PRODUCT_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@product-db:5432/product_db
ORDER_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@order-db:5432/order_db
USER_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@auth-db:5432/auth_db
CHAT_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@chat-db:5432/chat_db
PAYMENT_DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@payment-db:5432/payment_db
JWT_SECRET=<CHANGE_ME_JWT_SECRET>
PRODUCT_SERVICE_URL=http://product-service:8002/products
ORDER_SERVICE_URL=http://order-service:8003/orders
PAYMENT_SERVICE_URL=http://payment-service:8006/payments
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
GF_SECURITY_ADMIN_USER=<GRAFANA_ADMIN_USER>
GF_SECURITY_ADMIN_PASSWORD=<GRAFANA_ADMIN_PASSWORD>
