AUTH_DATABASE_URL=postgresql://foodrush:foodrush123@auth-db:5432/auth_db
PRODUCT_DATABASE_URL=postgresql://foodrush:foodrush123@product-db:5432/product_db
ORDER_DATABASE_URL=postgresql://foodrush:foodrush123@order-db:5432/order_db
USER_DATABASE_URL=postgresql://foodrush:foodrush123@auth-db:5432/auth_db
CHAT_DATABASE_URL=postgresql://foodrush:foodrush123@chat-db:5432/chat_db
JWT_SECRET=foodrush-super-secret
PRODUCT_SERVICE_URL=http://product-service:8002/products
ORDER_SERVICE_URL=http://order-service:8003/orders
POSTGRES_USER=foodrush
POSTGRES_PASSWORD=foodrush123
