[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
result_format = yaml
local_tmp = /Users/a1234/Documents/AITU/SRE/Assignment4-5/.ansible/tmp

[ssh_connection]
control_path_dir = /Users/a1234/Documents/AITU/SRE/Assignment4-5/.ansible/cp
